extends layout

block content
  h1= title
  
  for post in postList
    .items
      a(href="/post/#{post._id}")
        h2 #{post.subject}
      div #{post.body}
      div#info
        div.post-time
          span #{moment(post.createdDate).format('LLL')}
